location ^~ /${URL_PATH}/installer/  { deny all; return 403; }

location ~* ^/${URL_PATH}/app/.*\.(?:js|mjs)$ {
    root ${DOC_ROOT};
    add_header Cache-Control "no-store, no-cache, must-revalidate";
}

location ~* ^/${URL_PATH}/app/.*\.css$ {
    root ${DOC_ROOT};
    add_header Cache-Control "no-store, no-cache, must-revalidate";
}

location ~* ^/${URL_PATH}/app/.*\.(?:woff2?|svg|png|jpe?g|gif|ico)$ {
    root ${DOC_ROOT};
    add_header Cache-Control "public, max-age=2592000";
}

location ~ ^/${URL_PATH}/(.*\.php)$ {
    root ${DOC_ROOT};
    fastcgi_pass ${APP_UPSTREAM};
    fastcgi_index index.php;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /var/www/faoxima/$1;
    fastcgi_param REQUEST_URI $request_uri;
    fastcgi_param HTTP_AUTHORIZATION $http_authorization;
    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;
}

location /${URL_PATH}/app/ {
    root ${DOC_ROOT};
    try_files $uri $uri/ /${URL_PATH}/app/index.php$is_args$args;
}

location /${URL_PATH}/sub/ {
    root ${DOC_ROOT};
    try_files $uri $uri/ /${URL_PATH}/sub/index.php;
}

location /${URL_PATH}/ {
    root ${DOC_ROOT};
    try_files $uri $uri/ =404;
}
