
*.apk
*.aab
*.ap_
*.dex
*.class
*.jar

.gradle/
build/
/app/build/
/captures
.cxx/
.externalNativeBuild/
*.hprof

.kotlin/

*.iml
.idea/
.navigation/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

local.properties

secrets.properties
signing.properties
keystore.properties
*.jks
*.keystore
release.jks
keystore.b64

/app/release.jks

.DS_Store
Thumbs.db
*.log
