<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.software.picture_in_picture" android:required="false" />
    <application>
        <service
            android:name="com.ghajarvpn.browser.media.GhajarPlaybackService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            android:process=":browser" />
        <activity
            android:name="com.ghajarvpn.browser.GhajarBrowserActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="false"
            android:label="مرورگر قاجار"
            android:launchMode="singleTop"
            android:process=":browser"
            android:theme="@style/GhajarBrowserTheme" />
        <activity
            android:name="com.ghajarvpn.browser.media.GhajarPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="false"
            android:label="پلیر قاجار"
            android:launchMode="singleTop"
            android:process=":browser"
            android:supportsPictureInPicture="true"
            android:theme="@style/GhajarPlayerTheme" />
    </application>
</manifest>
