<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.software.picture_in_picture" android:required="false" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>
        <activity
            android:name="com.ghajarvpn.browser.GhajarBrowserActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="false"
            android:label="مرورگر قاجار"
            android:launchMode="singleTop"
            android:theme="@style/GhajarBrowserTheme" />
        <activity
            android:name="com.ghajarvpn.browser.media.GhajarPlayerActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="false"
            android:label="پلیر قاجار"
            android:launchMode="singleTop"
            android:supportsPictureInPicture="true"
            android:theme="@style/GhajarPlayerTheme" />
        <activity
            android:name="com.ghajarvpn.browser.download.GhajarDownloadsActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="دانلودهای قاجار"
            android:launchMode="singleTop"
            android:theme="@style/GhajarDownloadsTheme" />

        <activity
            android:name="com.ghajarvpn.browser.qr.BrowserQrActivity"
            android:exported="false"
            android:label="QR قاجار"
            android:theme="@style/GhajarDownloadsTheme" />

        <service
            android:name="com.ghajarvpn.browser.download.GhajarDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name="com.ghajarvpn.browser.download.GhajarDownloadReceiver"
            android:exported="false" />
    </application>
</manifest>
