<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries><package android:name="com.ghajarvpn.app" /></queries>
    <application android:label="Ghajar Mihomo" android:allowBackup="false" android:extractNativeLibs="true">
        <service android:name="${applicationId}.EngineService" android:exported="true">
            <intent-filter><action android:name="net.gozar.plugin.BIND_V1" /></intent-filter>
            <meta-data android:name="net.gozar.plugin.ID" android:value="mihomo" />
            <meta-data android:name="net.gozar.plugin.API" android:value="1" />
        </service>
    </application>
</manifest>
